<h1>Pirate Detail View</h1>


<div ng-hide="$ctrl.editorEnabled">
    <dl>
        <dt>Name</dt>
        <dd>{{ $ctrl.pirate.name }}</dd>
        <dt>Vessel</dt>
        <dd>{{ $ctrl.pirate.vessel }}</dd>
        <dt>Weapon</dt>
        <dd>{{ $ctrl.pirate.weapon }}</dd>
        <dt>ID</dt>
        <dd>{{ $ctrl.pirate._id }}</dd>
    </dl>
    <button ng-click="$ctrl.enableEditor($ctrl.pirate)">Edit</button>
</div>
<div ng-show="$ctrl.editorEnabled">
    <form ng-submit="$ctrl.savePirate($ctrl.pirate, $ctrl.pirate._id)" name="updatePirate">

        <div class="form-group">
            <label>Name</label>
            <input ng-model="$ctrl.pirate.name" class="form-control">
        </div>
        <div class="form-group">
            <label>Vessel</label>
            <input ng-model="$ctrl.pirate.vessel" class="form-control">
        </div>
        <div class="form-group">
            <label>Weapon</label>
            <input ng-model="$ctrl.pirate.weapon" class="form-control">
        </div>
        <div class="form-group">
            <label>Weapon</label>
            <input ng-model="$ctrl.pirate._id" class="form-control">
        </div>
        <input type="submit" value="Save">
</div>
</form>
</div>

<button type="submit" ng-click="$ctrl.back()">Back</button>